#Desktop_Academy_Warpper {
    width: 100vw;
    padding-bottom: 5vh;
    background-color: #F6F6F6;

    padding-top: 3vh;
}

#Margin-Bottom-10vh{
    margin-bottom: 8vh;
}
#Meta_Img{
    width: 8vw;
  }