#w100_hx {
  width: 70vw;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
}
