#Menue_Bar_Wrapper {
  padding-left: 6vw;
  padding-right: 6vw;
  width: 88vw;
  padding-top: 3vh;
  background-color: white;
  position: relative;
  z-index: 50;
  height: 7vh;
  position: fixed;
  top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  left: 0;
  top: 0;
  display: flex;
}

#Menue_Bar_Wrapper_ohne_bg {
  padding-left: 6vw;
  padding-right: 6vw;
  width: 88vw;
  padding-top: 3vh;
  position: relative;
  z-index: 50;
  height: 7vh;
  position: fixed;
  top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  left: 0;
  top: 0;
  display: flex;
}
#menueOpacityNS {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
#test {
  padding-left: 6vw;
  padding-right: 6vw;
  width: 88vw;
  padding-top: 3vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 50;
  height: 7vh;
  position: fixed;
  top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#test:hover {
  padding-left: 6vw;
  padding-right: 6vw;
  width: 88vw;
  padding-top: 3vh;
  background-color: white;
  position: relative;
  z-index: 50;
  height: 7vh;
  position: fixed;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#Top_Menue_Bar_Button_yellow_IMG {
  width: 1vw;
}
#Menue_Bar_Content_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 88vw;
}
#Menue_Bar_Logo_Wrapper {
}
#Menue_Bar_Logo {
  width: 8vw;
}
#Menue_Bar_Menue_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 41vw;
}
#Menue_Bar_Menue_Item_1 {
  width: 8vw;
}
#Menue_Bar_Menue_Item_2 {
  width: 12vw;
}
#Menue_Bar_Menue__h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  text-align: start;

  font-size: 1vw;
  padding-left: 1vw;

  padding-top: 0.4vh;

  margin: 0;
  color: #434343;
}

#Menue_Bar_Menue__h3:hover {
  padding-left: 1vw;
  color: #ffb000;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#MenueItemsListe2SHOW {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 1vh;
  border-radius: 12px;
  padding-bottom: 1vh;
  margin-top: 1vh;
}
#MenueItemsListe2notSHOW {
  display: none;
}

#ItemListeItem {
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  border-radius: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  text-align: start;

  font-size: 1vw;

  margin: 0;
  margin-top: 1vh;
  color: #434343;
}
#ItemListeItem:hover {
  color: black;
  background-color: rgba(186, 232, 232, 0.7);
}
#MenueItemsListe1SHOW {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 1vh;
  border-radius: 12px;
  padding-bottom: 1vh;
  margin-top: 1vh;
}
#MenueItemsListe1notSHOW {
  display: none;
}
#Top_Menue_Bar_h3_white {
  font-family: Montserrat;
  font-style: normal;
  text-align: start;

  font-weight: 500;
  font-size: 0.9vw;
  margin: 0;
  color: white;
  margin-right: 0.8vw;
}
#Top_Menue_Bar_Button_yellow_neu{
  border-radius: 12px;
  background-color: rgba(255, 176, 0, 1);
  display: flex;
  align-items: center;
  padding-left: 0.7vw;
  height: 3vh;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 0.7vw;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-left: 0.5vw;
  position: relative;
  white-space: nowrap;
}
#Top_Menue_Bar_Button_yellow_neu:hover {
  background-color: rgba(186, 232, 232, 1);
  color: black;
}
#Menue_Bar_Wrapper {
  padding-left: 6vw;
  padding-right: 6vw;
  width: 88vw;
  padding-top: 3vh;
  background-color: white;
  position: relative;
  z-index: 50;
  height: 7vh;
  position: fixed;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#Menue_Bar_Content_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#Menue_Bar_Logo_Wrapper {
}
#Menue_Bar_Logo {
  width: 8vw;
}

#Menue_Bar_Menue_Item_1 {
  width: 8vw;
}
#Menue_Bar_Menue_Item_2 {
  width: 12vw;
}
#Menue_Bar_Menue__h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  text-align: start;

  font-size: 1vw;
  padding-left: 1vw;

  padding-top: 0.4vh;

  margin: 0;
  color: #434343;
}

#Menue_Bar_Menue__h3:hover {
  padding-left: 1vw;
  color: #ffb000;
}
#MenueItemsListe2SHOW {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 1vh;
  border-radius: 12px;
  padding-bottom: 1vh;
  margin-top: 1vh;
}
#MenueItemsListe2notSHOW {
  display: none;
}

#ItemListeItem {
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  border-radius: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  text-align: start;

  font-size: 1vw;

  margin: 0;
  margin-top: 1vh;
  color: #434343;
}
#ItemListeItem:hover {
  color: black;
  background-color: rgba(186, 232, 232, 0.7);
}
#MenueItemsListe1SHOW {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 1vh;
  border-radius: 12px;
  padding-bottom: 1vh;
  margin-top: 1vh;
}
#MenueItemsListe1notSHOW {
  display: none;
}
#Top_Menue_Bar_Button_yellow {
  border-radius: 12px;
  background-color: rgba(255, 176, 0, 1);
  display: flex;
  align-items: center;
  padding-left: 0.7vw;
  height: 3vh;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 0.7vw;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-left: 0.5vw;
  position: relative;
}
#Top_Menue_Bar_Button_yellow:hover {
  background-color: rgba(186, 232, 232, 1);
  color: black;
}
