#Acadmey_BG_Wrapper {
  background: #e0e0e0;
  width: 100vw;
  height: 350vh;
  z-index: 1;
  position: relative;
}
#Academy_Content {
  display: flex;
  position: relative;
  z-index: 20;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 4vh;
}
#Academy_BG_Wrapper_White {
  width: 100vw;
  height: 450vh;
  position: absolute;
  background: rgba(255, 255, 255, 0.65);
  left: 0;
  top: 0;
  z-index: 3;
}
#Acadmey_Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6vw;
  padding-right: 6vw;
  width: 88vw;
  padding-top: 25vh;
  height: 55vh;
}
#Acadmey_Top_Left {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
#Acadmey_Top_Right {
  display: flex;
  flex-direction: row;
}
#Academy_Content_Wrapper {
  padding-left: 6vw;
  display: flex;
  flex-direction: column;
}
#Academy_Content_Heading {
  width: 84vw;
  padding-left: 4vw;
  display: flex;
  flex-direction: row;
  height: 8vh;
  align-items: center;
  border-radius: 12px;
  background-color: white;

  margin-top: 4vh;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
#Academy_Content_Heading_h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  text-align: start;

  font-size: 2vw;
  margin: 0;
  color: #434343;
}

#Acadmey_Top_Right {
  width: 20vw;
  display: flex;
  flex-direction: column;
}
#Acadmey_Top_Right_Left {
  width: 20vw;
  display: flex;
  align-items: center;
}
#Acadmey_Top_Right_Box_Wrapper {
  width: 88vw;
  display: flex;
  flex-direction: column;
  height: 40vh;
  border-radius: 12px;
  background-color: white;
  width: 18vw;
  margin-top: 4vh;
  padding-left: 0.4vw;
  padding-right: 0.4vw;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  align-items: center;
  padding-top: 4vh;
}
#Acadmey_Top_Right_Box_h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  text-align: center;

  font-size: 1.8vw;
  margin: 0;
  color: #434343;
}
#Acadmey_Top_Right_Box_Img {
  width: 5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
#Acadmey_Top_Right_Box__h5 {
  font-style: normal;
  font-weight: 400;
  text-align: start;
  font-family: Montserrat;
  font-size: 1vw;
  margin: 0;
  text-align: center;
  color: #434343;
}
#Acadmey_Top_Right_Box_Bottom {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-top: 4vh;
  padding-right: 5%;
}
#Acadmey_Top_Right_Box_Bottom_Button {
}
