#GP_Mob_Lage_Wrapper {
  display: flex;
  flex-direction: column;
}
#GP_Mob_Lage_W100_h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  text-align: start;
  font-size: 5.8vw;
  margin: 0;
  color: #434343;
  margin-top: 1.5vh;
}
#Mobile_White_W100_HX_Img {
  width: 95%;
  border-radius: 12px;
  margin-top: 2vh;
}
#GP_Mob_Lage_W100_h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  text-align: start;
  font-size: 4.8vw;
  margin: 0;
  color: #434343;
  margin-top: 1.5vh;
}
#GP_Mob_Lage_W100_h6 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  text-align: start;
  font-size: 3.5vw;
  margin: 0;
  color: black;
  margin-top: 1.5vh;
}
#GP_Mob_Lage_W100_h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  text-align: start;
  font-size: 4vw;
  margin: 0;
  color: #434343;
  margin-top: 1.5vh;
}
