#Desktop_Risiko_Wrapper {
  display: flex;
  flex-direction: column;
  width: 72vw;
  padding-left: 1vw;
  height: 75vh;
  overflow-x: hidden;
}

#Desktop_Risiko_Wrapper::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

#Desktop_Risiko_Wrapper::-webkit-scrollbar-track {
  background: rgba(205, 240, 234, 1); /* color of the tracking area */
}

#Desktop_Risiko_Wrapper::-webkit-scrollbar-thumb {
  background-color: white; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid rgba(164, 99, 99, 0); /* creates padding around scroll thumb */
}
