#Token_Sale_Wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  width: 72vw;
}
#Token_Sale_Wrapper_Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 72vw;
}
#Token_Sale_Wrapper_Grid {
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 2vh;
  column-gap: 2vw;
  width: 35vw;
}
#Token_Sale_Wrapper_Bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 72vw;
  margin-top: 2vh;
}
#Ind_W50_2h_BBTS {
  width: 33vw;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  height: 18vh;

  justify-content: center;
}
#Ind_W50_2h_h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;

  margin: 0;
  text-align: start;

  color: #434343;
}
#Ind_W50_2h_BBTS_TOP {
  display: flex;
  flex-direction: row;
}
#Ind_W50_2h_BBTS_TOP_Left {
  width: 45%;
  position: relative;
  height: 12vh;
  display: flex;
  align-items: flex-start;
  margin-right: 5%;
  justify-content: center;
  padding-top: 2vh;
}
#BB_TS_Pie_img {
  width: 50%;
}
#Ind_W50_2h_BBTS_Right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#Ind_W50_2h_BBTS_Bottom {
}
#Ind_W50_2h_BBTS_Right_Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Ind_W50_2h_BBTS_Right_h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7vw;

  margin: 0;
  color: #434343;
  text-align: start;
}

#Ind_W50_2h_BBTS_Right_h4_fett {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  text-align: start;

  font-size: 0.8vw;

  margin: 0;
  color: #434343;
}
#Ind_W50_2h_BBTS_Right_h4_m {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  text-align: start;

  font-size: 0.7vw;

  margin: 0;
  color: #434343;
  margin-top: 2vh;
}
