#Starting_Frame_Choice_Wrapper {
  display: flex;
  background-color: white;
  border-radius: 12px;
  flex-direction: column;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  align-items: center;
  justify-content: center;
  width: 14vw;
  cursor: pointer;
  height: 32vh;
}
#Starting_Frame_Choice_Circle_blue {
  border-radius: 100%;
  width: 6vw;
  height: 6vw;
  background-color: #cdf0ea;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Starting_Frame_Choice_Circle_yellow {
  border-radius: 100%;
  width: 6vw;
  height: 6vw;
  background-color: #ffb000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Starting_Frame_Choice_Circle_img {
  width: 2.5vw;
}
#Starting_Frame_Choice_h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  text-align: center;

  margin: 0;
  color: #434343;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
#Starting_Frame_Choice_h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7vw;
  text-align: center;

  margin: 0;
  color: #434343;
}
