#Vergleichen_White_Mobile_Wrapper{
    width: 80vw;
    border-radius: 12px;
    overflow: hidden;
    background:#FBFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-left: 6vw;
    margin-bottom: 4vh;
}
#Vergleichen_White_Mobile_Wrapper_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 5vw;
    margin: 0;
    color: black;
}

#Mobile_Vergleichen_Dokumente_Heading_Row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 4vw;
    margin: 0;
    color: black;
    align-items: center;
    margin-top: 2vh;

}
#Mobile_Vergleichen_Dokumente_Heading_Row_Counter{
    display: flex;
    align-items: center;
    justify-content: center;   
    background: #CDF0EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 10VW;
    height: 10VW;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 3vw;
    margin: 0;
    color: black;
}
#CBCACE80vw_Row{
width: 80vw;
height: 1px;
background-color: #CBCACE;
margin-top: 2.5vh;
}
#Mobile_Vergleichen_Row_Wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}
#Mobile_Vergleichen_Dokumente_Content_Row{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 4vw;
    margin: 0;
    color: #CBCACE;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
}

#mOverlay_Doks_GreenCheck_Img{
    width: 6vw;

}
#mOverlay_Doks_RednCheck_Img{
    width: 6vw;

}