#Vergleichen_Background_Wrapper {
    width: 100vw;
    padding-top: 5vh;
    padding-bottom: 12vh;
    background-color: #F6F6F6;
}
/*      Top Section     */
/*      Top Section     */
#Vergleichen_Top_Section{

    width: 88vw;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-bottom: 5vh;
    height: 25vh;
    padding-top: 10vh;

}

#Vergleichen_Top_Section_Inner {
    width: 80vw;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: white;
    height: 20vh;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

}
/*      Dashbaord     */
/*      Dashbaord     */

#Vergleichen_Dashbaord{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 6vw;
    padding-right: 6vw;
    width: 88vw;
    height: 80vh;

    margin-top:8vh;
}
/*      Dashbaord _ Results    */

#Vergleichen_Results{
    width: 64vw;
    display: flex;
    flex-direction: column;

}
#Vergleichen_Results_Menue{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1vh;
    border-bottom-style:solid;
    border-bottom-width: 1px;
    border-bottom-color: #CBCACE;

}



#Vergleichen_Results_Menue_Item{
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0vw;
    padding-right: 4vw;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    text-align: start;
    font-size: 1.2vw;
    margin: 0;
    color: #CBCACE;
    cursor: pointer;
    margin-right: 1.5vw;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#Vergleichen_Results_Menue_Item:hover{
   
    color: #FFB000;
}

#Vergleichen_Results_Menue_Item_choosen {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0vw;
    padding-right: 4vw;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    text-align: start;
    font-size: 1.2vw;
    margin: 0;
    color: #FFB000;
    margin-right: 1.5vw;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}




#Vergleichen_Results_Content{
    padding-top: 2vh;
}
/*      Dashbaord _ Auswahl    */

#Vergleichen_Projekt_Auswahl{
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding-left: 4vw;
}

#Vergleichen_Projekt_Auswahl_Top{

    display: flex;
    flex-direction: column;
}
#Vergleichen_Projekt_Auswahl_h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 1.6vw;
    margin: 0;
    color: black;
}
#Vergleichen_Projekt_Auswahl_Projekte_RowX2{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
}
#Vergleichen_Projekt_Auswahl_Projekte_RowX{
    display: flex;
    flex-direction: row;
}
#Vergleichen_Projekt_Auswahl_Neue_Button{

    border-radius: 12px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #CDF0EA;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    text-align: start;
    font-size: 1.2vw;
    margin: 0;
    color: black;

    cursor: pointer;
    margin-top: 4vh;
}

#Vergleichen_Projekt_Auswahl_Projekte {
    margin-top: 2vh;
}

#Vergleichen_Projekt_Auswahl_Projekte_Row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1vw;
    justify-content: center;
}
#Vergleichen_Projekt_Auswahl_Projekte_h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    text-align: start;
    font-size: 0.8vw;
    margin: 0;
    color: #CBCACE;
}
#Vergleichen_Projekt_Auswahl_Projekte_Zum{
   
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    text-align: start;
    font-size: 0.8vw;
    margin: 0;
    color: #CBCACE;
}
#Vergleichen_Projekt_Auswahl_Projekte_img {
    width: 1vw;
}
#Vergleichen_Projekt_Auswahl_Projekte_Row_Button{
    background: #CDF0EA;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    text-align: start;
    font-size: 0.7vw;
    margin: 0;
    color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
}

/*          Componenet Inhalt    */

#Projekt-Auswahl {
    width: 80vw;
    height: 72vh;
    border-radius: 12PX;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 3vh;
    padding-Bottom: 4vh;
    z-index: 25;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin-left: 6vw;

    margin-top: 8vh;
}

#Pop_Up_Projekt_Wahl_WTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
}
#Pop_Up_Projekt_Wahl_h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    text-align: start;
    font-size: 2vw;
    margin: 0;
    color: black;
    }
#Pop_Up_Projekt_Wahl_Closer{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#Filter_Finanzierungsvolumen_h5_Cursor{
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    text-align: start;
    font-size: 0.8vw;
    margin: 0;
    color: #CBCACE;
}
#Top_ProjektWahl {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-between;
    padding-top: 3vh;
}
#ProjektWahl_P{
    display: flex;
    flex-direction: column;
    width: 36vw;
    
}
#ProjektWahl_P_Top{
    display: flex;
    flex-direction: row;
    width: 38vw;
    justify-content: space-between;
    margin-bottom: 1vh;
    align-items: center;

}
#ProjektWahl_P_h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 1.25vw;
    margin: 0;
    color: black;
}
#ProjektWahl_P_h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    text-align: start;
    font-size: 1vw;
    margin: 0;
    color: #CBCACE;}


#ProjektWahl_P_Bottom{
    display: flex;
    flex-direction: row;

    width: 38vw;
    justify-content: space-between;

}

#Filter_Finanzierungsvolumen_Text_Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#Pop_Up_Projekt_Wahl_Closer_IMG {
    width: 1vw;
}
#Pop_Up_Projekt_Wahl_Filter{
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 1.2vw;
    margin: 0;
    color: #CBCACE;
    
}
#Filter_Rendite {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 1vw;
    margin: 0;
    color: black;
    

    display: flex;
    flex-direction: column;
}
#Filter_Rendite_Vergleich_Slider{
    width: 15vw;

    display: flex;
    flex-direction: column;

}
#Filter_FV_Vergleich_Slider{
    width: 16vw;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
}
#Filter_Finanzierungsvolumen_Bottom{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    margin-top: 1vh;
    width: 15vw;
}
#Filter_Finanzierungsvolumen_h5{
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    text-align: start;
    font-size: 0.8vw;
    margin: 0;
    color: #CBCACE;
}
#Filter_Finanzierungsvolumen_Slider{
    width: 16vw;
    margin-left: 4vw;
}
#Filter_Finanzierungsvolumen {
    display: flex;
    flex-direction: column;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 1vw;
    margin: 0;
    color: black;    
    margin-left: 4vw;

}




#Filter_Rendite_Vergleich_Slider{

}



#Pop_Up_Projekt_Wahl_Section{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 82vw;
    margin-top: 3vh;
}
#Pop_Up_Projekt_Wahl_Section_Left{
    width: 38vw;
    display: flex;    
    flex-direction: column;

}
#Pop_Up_Projekt_Wahl_Section_Right{
    width: 38vw;
    display: flex;
    flex-direction: column;


}

#Vegleich_Prop_Up_Projekte_Grid{
    margin-top: 2vh;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    position: relative;

    overflow-y: scroll;
    height: 42vh;
    overflow-x: hidden;
}
#Vegleich_Prop_Up_Projekte_Grid_ul{
    display: grid;
    width: 38vw;
    padding-left: 0;
    grid-template-columns: repeat(3, auto);
    gap: 0.85vw;
    list-style: none;
    padding-bottom: 10vh;

}
#Vegleich_Prop_Up_Projekte_Grid_Wrapper{
    width: 38vw;
    height: 42vh;
    position: relative;
}
#Vegleich_Prop_Up_Projekte_Grid_li{}
#Vegleich_Prop_Up_Projekte_Grid_Übergang_Wrapper{
    
    width: 38vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

#Vegleich_Prop_Up_Projekte_Grid_Übergang{
    width: 38vw;
    height: 20vh;
    background: linear-gradient(181.18deg, rgba(255, 255, 255, 0) 8.11%, #FFFFFF 55.79%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


#Vergleich_Scroll_Down_IMG{
    width: 1.5vw;
    position: relative;
    z-index: 30;
    margin-bottom: 4vh;
}
    #Pop_Up_Projekt_Wahl_Section_h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 1vw;
    margin: 0;
    color: black;
}

#Projekt_Auswahl_Grid{
    width: 38vw;
}


/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/

#Mobile_Vergleichen_Wrapper{
    width: 100vw;
    padding-bottom: 12vh;
    background-color: #F6F6F6;
}
#Mobile_Vergleichen_Top_Sec{
    width: 80vw;
    border-radius: 12PX;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 3vh;
    padding-Bottom: 4vh;

    margin-left: 6vw;
    margin-bottom: 5vh;

}
#Mobile_Vergleichen_Projekt_Auswahl{

    width: 80vw;
    border-radius: 12PX;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 3vh;
    padding-Bottom: 4vh;

    margin-left: 6vw;
    margin-bottom: 5vh;

}

#Mobile_Vergleichen_Heading_H3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 5vw;
    margin: 0;
    color: black;
}
#Mobile_Vergleichen_Auswahl_Projekt{
    display: flex;
    flex-direction: column;
}
#Mobile_Vergleichen_Auswahl_Projekt_Row1{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    justify-content: space-between;
}
#Mobile_Vergleichen_Auswahl_Projekt_Row1_h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 4vw;
    margin: 0;
    color: black;
    width: 40vw;


}
#Mobile_Vergleichen_Auswahl_Projekt_Row1_Right{
    display: flex;
    flex-direction: column;
    width: 34vw;
}
#Mobile_Vergleichen_Auswahl_Projekt_Row1_h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 3.5vw;
    margin: 0;
    color: black;
}
#Mobile_Vergleichen_Auswahl_Projekt_Row1_h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    font-size: 3vw;
    margin: 0;
    color: #CBCACE;

    margin-top: 1vh;
}

#Mobile_Vergleichen_Auswahl_Projekt_Row2{
    display: flex;
    flex-direction: row;
justify-content: space-between;
    margin-top: 3vh;
}
#Mobile_Vergleichen_Auswahl_Finanzierungsvolumen{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 34vw;

}
#Mobile_Vergleichen_Auswahl_Rendite{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 34vw;

}

#Optical_Divide{
    width: 80vw;
    height: 2vh;
    background-color: #CDF0EA;
    border-radius: 12px;
    margin-top: 3vh;
}
/**************************//**************************/
#Mobile_Vergleichen_Auswahl_Grid1{
    margin-top: 8vh;
    width: 80vw;    
    padding-bottom: 2vh;


    overflow-y: scroll;
    height: 60vh;
    position: relative;

    padding-left: 1vw;
    z-index: 25;

}

#Mobile_Vergleichen_Auswahl_Grid1_ul{
    display: grid;
    width: 80vw;
    padding-left: 0;
    grid-template-columns: repeat(2, auto);
    gap:3vw;   

    list-style: none;


}
#Mobile_Vergleichen_Auswahl_Grid1_Abs{
    width: 80vw;
    height: 35vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background: linear-gradient(0deg, #FFFFFF 16.16%, rgba(255, 255, 255, 0) 100%);
}

    #Mobile_Vergleichen_Auswahl_Grid1_li{
    width: 38vw;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
}
#Vergleich_Scroll_Down_mobile{
    width: 5vw;
}

/**************************/
/**************************/
/**************************/
/**************************/


#Mobile_Vergleichen_Projekte_Vergleich{

    width: 80vw;
    border-radius: 12PX;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 3vh;
    padding-Bottom: 4vh;

    margin-left: 6vw;
    margin-bottom: 5vh;


}


#Mobile_Vergleichen_Projekte_Wrapper{
    padding-bottom: 2vh;
    position: relative;
    margin-bottom: 5vh;
}
#Mobile_Vergleichen_Projekte_Menue{
    width: 84vw;
    position: sticky;
    top: 2vh;
    margin-left: 6vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background: #CDF0EA;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius:12px ;

}

#Mobile_Vergleichen_Projekte_Menue_Column{
    display: flex;
    flex-direction: column;
}
#Mobile_Vergleichen_Projekte_Menue_Button{
    width: 24vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    text-align: start;
    font-size: 3.25vw;
    margin: 0;
    color: black;

    padding-top: 1vh;
    padding-bottom: 1vh;

    padding-left: 1vw;
    padding-right: 1vw;

    margin-bottom: 2vh;
}
#Mobile_Vergleichen_Projekte_Menue_Column_mid{
    display: flex;
    align-items: center;
    height: 100%;
}
#Mobile_Vergleichen_Projekte_Menue_Button_mid{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;

    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 12px;
    background-color: white;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    text-align: start;
    font-size: 3.25vw;
    margin: 0;
    color: black;
}
#Mobile_Vergleichen_Projekte_Menue_Button_IMG{
    width: 4vw;
    
}
#Mobile_Vergleichen_Projekte_Menue_Button_IMG_MID{
    width: 4vw;
    margin-bottom: 1vh;
}