#DatenschutzWrapper {
  background: #f3f6fa;
  padding-left: 6vw;
  padding-right: 6vw;
  width: 88vw;
  padding-top: 18vh;
  padding-bottom: 5vh;
}
#Datenschutzerklärung_h2 {
  font-family: Montserrat;
  font-size: 1.8vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  text-align: start;
}
#Datenschutz_Content_Wrapper {
  display: flex;
  flex-direction: column;
}
#Datenschutzerklärung_h4 {
  font-family: Montserrat;
  font-size: 0.9vw;
  text-align: start;

  font-weight: 300;
  color: rgba(0, 0, 0, 1);
}
#Mobile_Datenschutz_Wrapper {
  width: 92vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  background: #f3f6fa;
  padding-bottom: 5vh;
}
