#FAQ_TOP {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
  align-items: center ;
}
#FAQ_TOP_left {
  display: flex;
  justify-content: center;
  padding-left: 6vw;
  display: flex;
  flex-direction: column;
}

#FAQ_Wrapper{
  width: 100vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #F6F6F6;

    padding-top: 15vh;
}
#FAQ_BG_Wrapper_Content { 
  display: flex;
  position: relative;
  z-index: 20;
  flex-direction: column;
  width: 100vw;}

#Anker_Wrapper {
  background-color: rgba(255, 176, 0, 1);
  width: 2.5vw;
  height: 2.5vw;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  display: none;
}
#Anker_Arrow_Img {
  width: 1vw;
}
#FAQ_Menue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 88vw;
  margin-left: 6vw;
  padding-top: 10vh;
}


#FAQ_Menue_Wrapper{
  display: flex;
  flex-direction: row;

  width: 58vw;
  padding-left: 6vw;
  justify-content: space-between;
}
#FAQ_Menue_CVC_Wrapper{
  background: white;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding-left: 2vw;
  padding-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 25vw;

  cursor: pointer;
  }

#Aktiv_Top_Right{
  position:absolute;
  width: 5vw;
  height: 3vh;
  border-radius:12px;
  background-color: #ffb000;
  right: 0;
  top: 0;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  text-align: start;
  font-size: 0.75vw;
  margin: 0;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}
#FAQ_Menue_CVC_Wrapper_Aktiv{
  background-color: #CDF0EA;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding-left: 2vw;
  padding-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 25vw;
  position: relative;
} 
#FAQ_Menue_CVC_Img_Wrapper{
  background-color: #CDF0EA;
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#FAQ_Menue_CVC_Img_Wrapper_white{
  background-color:white;
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#FAQ_Menue_CVC_Img{
  width: 2vw; 
  display: flex;
  flex-direction: column;}

#FAQ_Menue_CVC_Wrapper_Right{
  width: 18vw;
  padding-left:2vw;
}
#FAQ_Menue_CVC_Wrapper_Left{
 
}
#FAQ_Menue_CVC_Wrapper_h3{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  text-align: start;
  font-size: 1.2vw;
  margin: 0;
  color: black;
margin-bottom: 1.4vh;}


#FAQ_Menue_CVC_Wrapper_h5{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  text-align: start;
  font-size: 0.75vw;
  margin: 0;
  color: black
}

#FAQ_Fragen {
  position: relative;
  margin-top: 5vh;
  margin-left: 6vw;
}
#FAQ_Menue_Row_Button_Inaktiv {
  width: 25vw;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  height: 7vh;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-family: Montserrat;
  font-style: normal;
  text-align: start;

  font-weight: 500;
  font-size: 1.2vw;
  margin: 0;
  color: black;
}
#FAQ_Menue_Row_Button_Aktiv {
  width: 25vw;
  background-color: rgba(255, 176, 0, 1);
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  height: 7vh;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  text-align: start;

  font-weight: 500;
  font-size: 1.2vw;
  margin: 0;
  color: black;
  cursor: pointer;
}

#Blue_Absolute {
  position: absolute;
  width: 1528px;
  height: 928.56px;
  left: 1051px;
  top: 205px;

  background: rgba(205, 240, 234, 0.25);
  filter: blur(150px);

}
#FAQ_Menue {
  position: relative;
  z-index: 500;
}
#FAQ_Content_Wrapper {
  position: relative;
  z-index: 500;
}
#Mobile_FAQ_Top_Top_H2 {
  font-family: Montserrat;
  font-style: normal;
  text-align: start;

  font-weight: 700;
  font-size: 8vw;
  margin: 0;
  color: black;
}
#Mobile_FAQ_Top {
  padding-left: 6vw;
}
#Mobile_FAQ_Menue {
  display: flex;
  flex-direction: column;
  padding-left: 6vw;
  margin-top: 5vh;
}
#mFAQ_Menue_Row_Button_Inaktiv {
  width: 88vw;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  height: 7vh;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-family: Montserrat;
  font-style: normal;
  text-align: start;

  font-weight: 500;
  font-size: 4vw;
  margin: 0;
  color: black;
  margin-bottom: 2vh;
}
#mFAQ_Menue_Row_Button_Aktiv {
  width: 88vw;
  background-color: rgba(255, 176, 0, 1);
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  height: 7vh;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  text-align: start;

  font-weight: 500;
  font-size: 4vw;
  margin: 0;
  color: black;
  cursor: pointer;
  margin-bottom: 2vh;
}
#mobile_FAQ_Content {
  display: flex;
  flex-direction: column;
  padding-left: 6vw;
}
#CV_h5_dark {
  font-family: Montserrat;
  font-style: normal;
  text-align: start;

  font-weight: 500;
  font-size: 1.2vw;
  margin: 0;
  color: black;
}

#CV_h1_dark_faq {
  font-family: Montserrat;
  font-style: normal;
  text-align: start;

  font-weight: 700;
  font-size: 6.5vw;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

#FAQ_Content_Wrapper {

}

#FAQ_innerMenue{display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;}


#FAQ_Mini_Menue{  display: flex;
  flex-direction: row;}

#FAQ_Current_Aktive{ font-family: Montserrat;
  font-size: 0.9vw;
  font-weight: 600;
  margin: 0;
  ;

}

#FAQ_ChoiceWrapper{ margin-left: 2vw;
  display: flex;
  flex-direction: row;}

#FAQ_Mini_Menue_h5{color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 0.9vw;
  font-weight: 600;
  margin: 0;
  margin-left: 4vw;}

  #FAQ_Menue {
  width: 54vw;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 4vh;
}
#FAQ_Mini_Menue_h5:hover {
  cursor: pointer;
  color: #ffb000
}
#FAQ_Mini_Menue_h5_black {
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 0.9vw;
  font-weight: 600;
  margin: 0;
  margin-left: 4vw;
}

#Mobile_FAQ_Wrapper{
  width: 100vw;
    padding-bottom: 12vh;
    background-color: #F6F6F6;
}