#ImpressumWrapper {
  background: #f3f6fa;
  padding-left: 6vw;
  padding-right: 6vw;
  width: 88vw;
  padding-top: 12vh;
  padding-bottom: 5vh;
  margin-top: 0vh;
}
#Impressum_h2 {
  font-family: Montserrat;
  font-size: 1.8vw;
  font-weight: 600;
  text-align: start;

  color: rgba(0, 0, 0, 1);
}
#Impressum_Content_Wrapper {
  display: flex;
  flex-direction: column;
}
#Impressum_h4 {
  font-family: Montserrat;
  font-size: 0.9vw;

  text-align: start;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
}
#Mobile_Impressum_Wrapper {
  width: 92vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  background: #f3f6fa;
  padding-bottom: 5vh;
}
#Mobile_Impressum_h2 {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  text-align: start;

  color: rgba(0, 0, 0, 1);
}
#Mobile_Impressum_h4 {
  font-family: Montserrat;
  font-size: 16px;
  text-align: start;

  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}
