#Sekundärmärkte_Wrapper {
  padding-top: 30vh;
}
#SecMar_Grey {
  background: #e0e0e0;
  width: 100vw;
  height: 130vh;
  z-index: 1;
  position: relative;
}
#SecMar_White {
  width: 100vw;
  height: 130vh;
  position: absolute;
  background: rgba(255, 255, 255, 0.65);
  left: 0;
  top: 0;
  z-index: 3;
}
#SecMar_Ecc {
  position: absolute;
  width: 1000px;
  height: 928.56px;

  background: rgba(205, 240, 234, 0.6);
  filter: blur(150px);
  left: 0vw;
  top: 30vh;
  z-index: 8;
}
#Sekundärmärkte_Wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 20;
}
#Sekundärmärkte_top {
  padding-left: 6vw;
  width: 94vw;
  display: flex;
  flex-direction: row;
  height: 40vh;
}
#Sekundärmärkte_top_left {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
#Sekundärmärkte_top_h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  text-align: start;

  font-size: 4vw;
  margin: 0;
  color: #434343;
}
#Sekundärmärkte_top_h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  text-align: start;

  margin-top: 3vh;
  width: 38vw;
}
#Sekundärmärkte_Coming_Soon {
  display: flex;
  position: relative;
}
#Sekundärmärkte_Coming_Soon_IMG_Wrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
}
#Sekundärmärkte_Coming_Soon_IMG {
  width: 60vw;
}
#Sekundärmärkte_Coming_Soon_Overlay {
  display: flex;
  position: absolute;
  width: 80vw;
  left: 10vw;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  height: 100%;
}
#Sekundärmärkte_Coming_Soon_Overlay_h2 {
  font-family: Montserrat;
  font-size: 5vw;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}
#Sekundärmärkte_Coming_Soon_Overlay_h2_yellow {
  font-family: Montserrat;
  font-size: 5vw;
  font-weight: 700;
  color: #ffb000;
  margin: 0;
}

#Sekundärmärkte_top_RIGHT {
  padding-left: 10vw;
  align-items: center;
}

#Sekundärmärkte_top_RIGHT_Grid_temp {
  display: grid;
  width: 38vw;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
}

#Sekundärmärkte_top_RIGHT_Grid {
  width: 25vw;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
}
#Sekundärmärkte_top_RIGHT_Grid_item_1 {
  width: 12vw;

  border-radius: 12px;
  height: 15vh;
  background-color: #cdf0ea;
  position: relative;
}
#Sekundärmärkte_top_RIGHT_Grid_item_2 {
  width: 12vw;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 12px;
  height: 15vh;
  background-color: red;
}
#Sekundärmärkte_top_RIGHT_Grid_item_4 {
  width: 12vw;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 12px;
  height: 15vh;
  background-color: turquoise;
}
#Sekundärmärkte_top_RIGHT_Grid_item_4 {
  width: 12vw;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 12px;
  height: 15vh;
  background-color: violet;
}
#Sekundärmärkte_top_RIGHT_Grid_item_1_underlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#Sekundärmärkte_top_RIGHT_Grid_item_1_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  left: 0;
  top: 0;
  z-index: 10;
}

#Sekundärmärkte_top_RIGHT_Grid_item_1_ContentLay {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
#Sekundärmärkte_top_RIGHT_Grid_item_1_h3 {
  position: relative;
  z-index: 15;
}
#Sekundärmärkte_top_RIGHT_Grid_item_1_underlay_IMG {
  width: 10vw;
}
/*******************************************************/

#Mobile_SekM_BG {
  background: #e0e0e0;
  width: 100vw;
  z-index: 1;
  position: relative;
}
#Mobile_SekM_White {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.65);
  left: 0;
  top: 0;
  z-index: 3;
}
#Mobile_SekM_Content {
  position: relative;
  z-index: 5;
  padding-top: 0vh;
  padding-bottom: 6vh;
}
#Mobile_SekM_Content_Top {
  display: flex;
  flex-direction: column;
  padding-left: 6vw;
  padding-right: 6vw;
  width: 88vw;
}
#Mobile_SekM_h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 10vw;

  margin: 0;
  color: #434343;
}
#Mobile_SekM_h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 4vw;

  margin: 0;
  text-align: start;
  margin-top: 4vh;
  color: #434343;
}
#Mobile_SekM_Coming_Soon_Sec {
  padding-left: 6vw;
  padding-right: 6vw;
  margin-top: 5vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#SekM_Coming_Pic_Img {
  width: 100%;
}
#SekM_Coming_Pic_h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 12 vw;

  margin: 0;
  color: #434343;
  position: absolute;
  text-align: center;
}
