#Über_uns_content_wrapper {
  display: flex;
  position: relative;
  z-index: 20;
  flex-direction: column;
  width: 100vw;
}
#Padding6u6 {
  padding-left: 6vw;
  display: flex;
  width: 88vw;
  padding-right: 6vw;
  flex-direction: column;
  padding-top: 20vh;
}
#Aabout_White_horz_wrapper {
  width: 80vw;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 8vh;
  padding-top: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6vh;
}
#Aabout_White_horz_wrapper_left {
  display: flex;
  width: 40vw;
  flex-direction: column;
}
#Aabout_White_horz_wrapper_Right {
  display: flex;
  padding-left: 2vw;
  width: 35vw;
}
#Aabout_White_horz_wrapper_Right_h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  text-align: start;

  margin: 0;
  margin-bottom: 0.2vh;
  color: #434343;
}
#Aabout_White_horz_wrapper_left_h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  text-align: start;

  text-align: start;

  margin: 0;

  color: #434343;
}
#Aabout_White_horz_wrapper_left_h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 4vw;
  line-height: normal;
  text-align: start;

  margin: 0;
  color: black;
  margin-top: 1vh;
}

#About_Foto_Wrapper {
  width: 84vw;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 4vw;
  height: vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6vh;
}
#About_Foto_Wrapper_Left {
  overflow: hidden;
  height: 100%;
  width: 65vw;
  border-radius: 12px;
  display: flex;
  justify-content: flex-end;
}
#About_Foto_WrapperImg {
  border-radius: 12px;
}
#About_Foto_Wrapper_Right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3vw;
}
#About_Foto_Wrapper_Right_Spalte {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}
#About_Foto_Wrapper_Right_Spalte_h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw;
  line-height: normal;
  text-align: start;

  margin: 0;
  color: black;
}
#About_Foto_Wrapper_Right_Spalte_h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  text-align: start;

  margin: 0;
  margin-top: 1vh;

  color: #434343;
}

#About_Antribe_Wrapper {
  width: 80vw;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 8vh;
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
}
#About_Antrieb_h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8vw;
  line-height: normal;
  text-align: start;

  margin: 0;
  margin-bottom: 2vh;
  color: black;
}
#About_Antrieb_h3_Button_Text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#About_Antrieb_h3_Button_Text_h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  text-align: start;

  margin: 0;
  margin-top: 1vh;
  width: 48%;

  color: #434343;
}

/*********************************************/
/*********************************************/
/*********************************************/
/*********************************************/
/*********************************************/
/*********************************************/

#Mobile_ÜU_Content {
  position: relative;
  z-index: 5;
  padding-top: 0vh;
  padding-bottom: 6vh;
}

#Mobile_ÜU_h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 12vw;
  text-align: start;
  margin: 0;
  color: #434343;
  position: relative;
  z-index: 8;
}
#MobileÜUTop_Img {
  width: 60vw;
  position: absolute;
  right: 1vw;
  top: 18vh;
  z-index: 5;
}
#Mobile_ÜU_Blue_Box {
  width: 80vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  background: #cdf0ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-top: 15vh;
  position: relative;
  z-index: 8;
}
#Mobile_ÜU_h4 {
  padding-left: 4vw;
  padding-right: 4vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 4.4vw;
  margin: 0;
  text-align: start;

  color: #434343;
}
#Mobile_ÜU_Antrieb_Inner {
  width: 88vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-top: 6vh;
}
#Mobile_ÜU_Antrieb_Inner_h3 {
  padding-left: 4vw;
  padding-right: 4vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 7.4vw;
  margin: 0;
  color: #434343;
  text-align: start;

  margin-bottom: 4vh;
}

#Mobile_ÜU_Antrieb_Inner_Img {
  width: 100%;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
#Mobile_ÜU_Antrieb_Inner_h5 {
  padding-left: 4vw;
  padding-right: 4vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 4.4vw;
  text-align: start;

  margin: 0;
  color: #434343;
}
#Mobile_ÜU_Top {
  padding-left: 6vw;
  padding-right: 6vw;
}

#Mobile_ÜU_Name_Wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5vh;
}
#Mobile_ÜU_Name_Box_Wrapper {
  display: flex;
  flex-direction: column;
}
#Mobile_ÜU_Name_Box_h3 {
  padding-left: 4vw;
  padding-right: 4vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 5.4vw;
  text-align: start;

  margin: 0;
  color: #434343;
}
#Mobile_ÜU_Name_Box_h5 {
  padding-left: 4vw;
  padding-right: 4vw;
  font-family: Montserrat;
  text-align: start;

  font-style: normal;
  font-weight: 400;
  font-size: 4.4vw;
  text-align: right;

  margin: 0;
  color: #434343;
}
