#Academy_Content_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 88vw;
  margin-top: 8vh;
}
#Academy_Content_Left {
  display: flex;
  width: 37vw;
  margin-right: 8vw;
}
#Academy_Content_Right {
  width: 43vw;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
#Academy_Content_Tags_Bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
}
#Acadmey_Content_bgimg {
  width: 37VW;
  border-radius: 12px;
}
#Academy_Content_Tag {
  margin-right: 2vw;
  border-radius: 12px;
}
#Academy_Content_Tag {
  border-radius: 12px;
padding-top: 0.7vh;
padding-bottom: 0.7vh;
padding-left: 2vw;
padding-right: 2vw;

background: rgba(205, 240, 234, 0.75);

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1.2vw;
color: #007460;

}
#Academy_Content_h2 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size:2vw;
color: black;
margin: 0;
text-align: start;
}
#Academy_Content_h4 {
  font-family: 'Montserrat';
  font-style: normal;
  text-align: start;

  font-weight: 400;
  font-size:0.95vw;
  color: black;
  margin: 0;
margin-top: 2vh;
}
