#AcademyContent_Wrapper {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  width: 88vw;
  margin-top: 3vh;
}

#AcademyContent_Left_H2 {
  color: rgba(0, 0, 0, 0.9);
  font-family: Montserrat;
  font-size: 1.4vw;
  font-weight: 700;
  margin: 0;
  text-align: start;
}
#AcademyContent_Left_H5 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Montserrat;
  font-size: 0.9vw;
  font-weight: 400;
  margin: 0;
  margin-top: 3vh;
  text-align: start;
}

#AcademyContent_Left {
  width: 35vw;
  padding-left: 3vw;
  padding-top: 3vh;
  padding-bottom: 2vh;
}
#AcademyContent_Right {
  width: 34vw;
  border-radius: 12px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#AcademyContent_Right_IMG {
  width: 100%;
  height: 100%;
}
#AcademyContent_Right_Content_Länge {
  color: rgba(0, 0, 0, 0.8);
  font-family: Montserrat;
  font-size: 1.2vw;
  font-weight: 600;
  margin: 0;
  padding-left: 2vw;
}
#AcademyContent_Right_Content {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
}
#AcademyContent_Right_Tag_Wrapper {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
}
#AcademyContent_Right_Tag {
  color: rgba(0, 0, 0, 0.8);
  font-family: Montserrat;
  font-size: 0.8vw;
  font-weight: 400;
  margin: 0;

  margin-left: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vh;
  padding-top: 1vh;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#Mobile_Academy_Content {
  position: relative;
  z-index: 55;
  padding-bottom: 4vh;
}
#Mobile_Academy_Top {
  padding-left: 6vw;
  padding-right: 6vw;

  position: relative;
  z-index: 50;
}
#Mobile_Academy_Menue {
  margin-top: 8vh;
}
#Mobile_Academy_Content {
  margin-top: 8vh;
}
