#mAcademyContent_Wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 88vw;
margin-bottom: 5vh;}

#mAcademyContent_TOP {
  position: relative;
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  padding-left: 4vw;
  padding-right: 4vw;
}
#mAcademyContent_TOP_h2 {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-size: 4.5vw;
  font-weight: 700;
  margin: 0;
  text-align: start;
  margin-bottom: 2vh;
}
#mAcademyContent_TOP_h5 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Montserrat;
  font-size: 2.75vw;
  font-weight: 300;
  margin: 0;
  text-align: start;
  white-space: pre-line;
  hyphens: auto;
  text-align: justify;
}
#mAcademyContent_BOTTOM {
  display: flex;
  width: 80vw;
  position: relative;
  height: 16vh;
  margin-top: 3vh;
}
#mAcademyContent_BOTTOM_img {
height: 25vh;
margin-top: 1vh;
margin-bottom: 1vh;
border-radius: 12px;
}
#mAcademyContent_BOTTOM_Content {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  padding-left: 2vw;
  padding-top: 4vh;
}
#mAcademyContent_BOTTOM_h3 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Montserrat;
  font-size: 3vw;
  font-weight: 400;
  margin: 0;
  padding-left: 1vw;
}
#mAcademyContent_BOTTOM_Tag_Wrapper {
  display: flex;
  flex-direction: row;

  margin-bottom: 2vh;
}
#mAcademyContent_BOTTOM_Tag {
  border-radius: 12px;
padding-top: 1vh;
padding-bottom: 1vh;
padding-left: 2vw;
padding-right: 2vw;

background: rgba(205, 240, 234, 0.75);

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 2vw;
color: #007460;

margin-right: 2vw;
}
